.active {
	font-weight: bold;
}
.column {
	display: inline-block;
	margin-bottom: 2px;
}
.cell {
	width: 75px;
	height: 75px;
	font-size: 30px;
	background-color: #CCCCCC
    border-color: rgba(0,0,0,.5);
}
.boardElement {
	position: relative;
}
.board {
	padding: 2px;
}
.boardOverlay {
  background: rgba(0,0,0,.5);
  width: 225px;
  height: 225px;
  position: absolute;
  top: 0;
  left: 0;
}
.boardOverlay {
  z-index: 10;
  line-height: 225px;
  text-align: center;
  font-size: 200px;
}

.disabledButton {
    background-color: rgba(0,0,0,.5);
    color: black;
    border-color: rgba(0,0,0,.5);
}